body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* Reds
 **************
 #d0112b
 #e4605a
 #f1978c
 #f8ccc4

*/

/* Blues
 **************
 #004a87
 #2e72a4
 #7b9fc2
 #becee1

*/

/* Yellows
 **************
 #fcce01
 #fcd959
 #fee492
 #fff3c8

*/

/* Pinks
 **************
 #fff3c8
 #f9dee0
 #f6e8ea
 #f7f3f4

*/

/* Light Blues
 **************
 #b9dce6
 #cce4eb
 #dcedf1
 #eef6f7

*/

/* Light Yellows
 **************
 #fcce01
 #eef6f7
 #f7e7b9
 #faf7e7

*/

/* Darks
 **************
 #242121
 #545150
 #898685
 #c4c1c0

*/

/* Greys
 **************
 #b4b2b0
 #c7c5c3
 #dad7d6
 #eceae8

*/

/* Light Greys
 **************
 #cbc8c7
 #d8d6d3
 #e5e2e1
 #f3f0ef

*/
